@page
@model Gear.Pages.Worms.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>
<h3>Вы уверены, что желаете удалить данную передачу?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Наименование редуктора
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worm.Name)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Worm.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-primary" asp-page="./Index">Назад</a>
    </form>
</div>