@page
@model IndexModel
@{
    ViewData["Title"] = "Gear";
}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active bg-primary"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1" class="bg-primary"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2" class="bg-primary"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/Spur.jpg" class="d-block w-100" alt="Цилиндрическая передача">
            <div class="carousel-caption d-md-block p-2">
                <h5>Цилиндрическая передача</h5>
                <p>Передаёт вращательное движение между валами, расположенными на параллельных осях.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/Bevel.jpg" class="d-block w-100" alt="Коническая передача">
            <div class="carousel-caption d-md-block p-2">
                <h5>Коническая передача</h5>
                <p>Применяется для передачи мощности вращением под углом, при условии неподвижности валов.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/Worm.jpg" class="d-block w-100" alt="Червячная передача">
            <div class="carousel-caption d-md-block p-2">
                <h5>Червячная передача</h5>
                <p>Предназначена для существенного увеличения крутящего момента.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
    </a>
</div>

<div class="card-deck mt-5">
    <div class="card card text-white">
        <div class="card-header text-center bg-info">Ремонт редукторов</div>
        <img src="~/images/RepairReductor.jpg" class="card-img" alt="Редуктор">
        <div class="card-body bg-info">
            <p class="card-text">Даже самый сложный ремонт или замена редуктора проводятся максимально быстро, без потери качества. Всё это благодаря нашему высокому профессионализму.</p>
        </div>
    </div>
    <div class="card card text-white">
        <div class="card-header text-center bg-info">Ремонт КПП</div>
        <img src="~/images/RepairKPP.jpg" class="card-img" alt="КПП">
        <div class="card-body bg-info">
            <p class="card-text">Ремонь КПП осуществляется самыми новыми методами, с привлечением высококласных специалистов.</p>
        </div>
    </div>
    <div class="card card text-white">
        <div class="card-header text-center bg-info">Диагностика</div>
        <img src="~/images/diagnostic.png" class="card-img" alt="Дигностика">
        <div class="card-body bg-info">
            <p class="card-text">Осуществляем не только замену и ремонт редуктора, со снятием его и установкой, но и восстановление изношенных редукторных запчастей, и бесплатную диагностику.</p>
        </div>
    </div>
</div>

<script>
    $('.carousel').carousel({
        interval: 2000
    });
</script>